body {
  background-color: #083835;
}

.light .navbar__switch::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #4666a7;
  z-index: 30;
}

.light #control-prev {
  color: rgba(0, 0, 0, 0.6);
  opacity: 0.2;
}

#control-prev:hover {
  opacity: 1;
}

.light #control-next {
  color: rgba(0, 0, 0, 0.6);
  opacity: 0.2;
}

#control-next:hover {
  opacity: 1;
}

.light .form-one {
  height: 40%;
  width: 20%;
  background-color: #0b4e49;
  clip-path: polygon(0 0, 62% 0, 82% 41%, 0% 100%);
  position: absolute;
  top: 0%;
  z-index: -1;
}

.light .form-two {
  height: 40%;
  width: 20%;
  background-color: #0b4e49;
  clip-path: polygon(0 0, 76% 56%, 55% 100%, 0 100%);
  position: absolute;
  bottom: 0%;
  z-index: -1;
}

#slide-0 {
  display: flex !important;
  width: 100%;
}

.content-0 {
  width: 50%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}

.content-0 div {
  width: 60%;
  height: 100%;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.content-0 div .profile-image {
  height: 200px;
  display: none;
}

.light .content-0 div #name {
  font-size: 28px;
  color: rgba(255, 255, 255, 0.6);
  height: 35px;
  letter-spacing: 1.5px;
}

.light .content-0 div #title {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 1.5px;
  margin-bottom: 10px;
}

.light .content-0 div #subtitles {
  font-size: 18px;
  color: #823d2b;
  letter-spacing: 1.5px;
  margin: 15px 0px 10px;
}

.light .content-0 div #content-text {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 1.5px;
  margin-top: 0px;
  margin-left: 0px;
}

.photo-0 {
  width: 75%;
  height: 100%;
  background-image: url("../images/profile_photo.JPG");
  background-repeat: no-repeat;
  background-size: cover;
}

.light .content-1 {
  width: 100%;
  height: 100%;
  background: #083835;
  display: flex !important;
}

.light .content-1-hobbies {
  width: 50%;
  height: 100%;
  background-color: #083835;
  display: flex !important;
  justify-content: center;
}

.light .content-1-hobbies div {
  width: 60%;
  height: 100%;
  background-color: #083835;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.light .content-1-hobbies div #title {
  font-size: 20px;
  color: #823d2b;
  height: 35px;
  letter-spacing: 1.5px;
}

.light .content-1-hobbies div h4 {
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
}

.content-1-hobbies div h4 i {
  font-size: 100px;
  margin-right: 20px;
}

.light .content-1-habilities {
  width: 50%;
  height: 100%;
  background-color: #0b4e49;
  display: flex !important;
  justify-content: center;
}

.light .content-1-habilities div {
  width: 60%;
  height: 100%;
  background-color: #0b4e49;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.light .content-1-habilities div #title {
  font-size: 20px;
  color: #823d2b;
  height: 35px;
  letter-spacing: 1.5px;
}

.light .content-1-habilities div h4 {
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  text-align: end;
}

.content-1-habilities div h4 i {
  font-size: 100px;
  margin-left: 20px;
}

.light .content-2 {
  width: 100%;
  height: 100%;
  background: #083835;
  display: flex !important;
}

.light .content-2-aspirations {
  width: 50%;
  height: 100%;
  background-color: #083835;
  display: flex !important;
  justify-content: center;
}

.light .content-2-aspirations div {
  width: 60%;
  height: 100%;
  background-color: #083835;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.light .content-2-aspirations div #title {
  font-size: 20px;
  color: #823d2b;
  height: 35px;
  letter-spacing: 1.5px;
}

.light .content-2-aspirations div ul li {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 1.5px;
  margin-bottom: 15px;
}

.light .content-2-projects {
  width: 50%;
  height: 100%;
  background-color: #083835;
  display: flex !important;
  justify-content: center;
}

.light .content-2-projects div {
  width: 60%;
  height: 100%;
  background-color: #083835;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content-2-projects img {
    width: 50%;
  }

  .light .content-2-projects div #title {
    font-size: 28px;
    color: #823d2b;
    height: 35px;
    letter-spacing: 1.5px;
  }

@media only screen and (max-width: 1367px) {
  .light #control-next {
    color: rgba(255, 255, 255, 0.6);
  }
  .content-0 {
    width: 100%;
  }

  .content-0 div {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .content-0 div #name {
    height: 45px !important;
    font-size: 22px !important;
  }

  .content-0 div #title {
    margin-top: 10px;
  }

  .content-0 div #subtitles {
    margin-top: 10px !important;
  }

  .content-0 div #content-text {
    margin-bottom: 12px !important;
  }

  .content-0 div .profile-image {
    display: block;
    border-radius: 50%;
    margin-top: 50%;
  }

  .photo-0 {
    display: none;
  }

  .content-1-hobbies div {
    width: 85%;
  }

  .content-1-hobbies div h4 i {
    font-size: 25px;
    margin-right: 10px;
  }

  .content-1-habilities div {
    width: 85%;
  }

  .content-1-habilities div h4 i {
    font-size: 25px;
    margin-left: 10px;
  }

  #hidden {
      display: none;
  }

  .content-2-aspirations div {
    width: 85% !important;
  }

  .content-2-projects div {
    width: 85% !important;
  }

  .content-2-projects img {
    width: 75% !important;
  }

  .content-2-projects div #title {
    font-size: 23px !important;
    text-align: center;
  }
  
}
